<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
</head>
<body>
    欢迎打开首页!
    <div id="content"></div>
    <!--页面通过Model取值-->
    <!--<div th:each="obj,objStat:${data}">-->
        <!--<p th:text="${objStat.count}"></p>-->
        <!--<p th:text="${obj}"></p>-->
    <!--</div>-->
</body>
<!--引入D3.js-->
<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<!--js通过model取值-->
</html>
<script th:inline="javascript">
    var data = [[${data}]];
    console.log(data);
    var svg = d3.select("#content").append("svg").attr("width",400).attr("height",400)
    <!--画x/y坐标图-->
    var xScale = d3.scaleLinear().domain([0,data.length]).range([0,300])
    var yScale = d3.scaleLinear().domain([d3.max(data),0]).range([0,300])
    var xAxis = d3.axisBottom().scale(xScale)                          //定义一个x坐标轴，axisTop时数字位于水平线上侧，axisBottom时数字位于水平线下侧
    var yAxis = d3.axisLeft().scale(yScale)                            //定义一个y坐标轴，axisLeft时数字位于垂直线左侧，axisRight时数字位于垂直线右侧。
    svg.append("g").attr("transform","translate(50,350)").call(xAxis)
    svg.append("g").attr("transform","translate(50,50)").call(yAxis)

    var linePath = d3.line()        //创建一个直线生成器
				.x(function(d,i){
					return xScale(i+1);
				})
				.y(function(d){
					return yScale(d);
				})
				.curve(d3.curveMonotoneX)
    //画路径
    svg.append("g").attr("transform","translate(50,50)").append("path")
        .attr("d",linePath(data)).attr("stroke","blue").attr("fill","none")
</script>
